<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Server_1.Service1">
                <endpoint address="" binding="netTcpBinding" contract="Server_1.IService1">
                </endpoint>
				<endpoint address="" binding="basicHttpBinding" contract="Server_1.IService1">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
						<add baseAddress="net.tcp://localhost:9733/Design_Time_Addresses/Server_1/Service1/" />
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/Server_1/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>